/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 #willsbuttons{
 font-family: 'Kalam', cursive;
 background-color: white;
 color:black;
 text-shadow:
 -1px -1px 0 white,
 1px -1px 0 white,
 -1px 1px 0  white,
 1px 1px 0  white;
 }
#checkbox{
  color: green;
}

#submit2{
  font-family: 'Kalam', cursive;
  font-size: 3px;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0  white,
  1px 1px 0  white;
}

#acctinfo{
  padding-right:2vw;
  font-size: 40px;
  color:blue;
  text-shadow:
  -1px -1px 0 orange,
  1px -1px 0 orange,
  -1px 1px 0  orange,
  1px 1px 0  orange;
}

#acctinfo2{
  padding-left:2vw;
  font-size: 40px;
  color: blue;
  text-shadow:
  -1px -1px 0 orange,
  1px -1px 0 orange,
  -1px 1px 0  orange,
  1px 1px 0  orange;
}

.loginform{
  padding-left:10vw;
  padding-right: 10vw;
}

#nav-mobile{
  background-color:orange;
}

.finished{
  font-family: 'Kalam', cursive;
}

.brewery_listing{
  padding-left: 10vw;
  padding-right: 10vw;

}

body{
  font-size: 20px;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0  white,
  1px 1px 0  white;
}

nav{
  text-shadow:
  -1px -1px 0 pink,
  1px -1px 0 pink,
  -1px 1px 0 pink,
  1px 1px 0 pink;
}


.materialize-textarea{
  color:black;
}

@media all and (max-width: 550px){
  .navlogo, .summary {
    display:none;
  }
}

.navlogo{
  max-height:56px;
  max-width:50px;
  background-color: #000080;
}
.parentheses{
  font-size: 10px
}

#companyBio{
  line-height: 30px
}

nav{
  text-shadow:
  -1px -1px 0 orange,
  1px -1px 0 orange,
  -1px 1px 0  orange,
  1px 1px 0  orange;
}

.btn-large{
  text-shadow:
  -1px -1px 0 blue,
  1px -1px 0 blue,
  -1px 1px 0  blue,
  1px 1px 0  blue;

}

#submitNewFavor{
font-family: 'Kalam', cursive;
background-color: orange;
color:white;
text-shadow:
-1px -1px 0 blue,
1px -1px 0 blue,
-1px 1px 0  blue,
1px 1px 0  blue;
}

#submit1{
font-family: 'Kalam', cursive;
background-color: white;
color:black;
text-shadow:
-1px -1px 0 white,
1px -1px 0 white,
-1px 1px 0  white,
1px 1px 0  white;
}

#deleteme{
  font-family: 'Kalam', cursive;
  background-color: white;
  color:black;
  text-shadow:
  -1px -1px 0 orange,
  1px -1px 0 orange,
  -1px 1px 0  orange,
  1px 1px 0  orange;
}

#updateme{
  font-family: 'Kalam', cursive;
  background-color: white;
  color:black;
  text-shadow:
  -1px -1px 0 orange,
  1px -1px 0 orange,
  -1px 1px 0  orange,
  1px 1px 0  orange;
}

a{
  font-size: 22px;
}
.acctinfo{
  font-size: 25px
}


.phil{
  font-size: 35px;
}

.sausage{
  font-size: 25px;
}

th{
  font-size:35px;
}

td{
font-size: 30px;
}

table{
  border-width: 15px;
}

.accountrecap{
  padding-left: 350px;
  font-size: 25px
}

.results{
  align-content: center;
}

.aboutus, li{
  font-size: 25px
}

html{
  font-family: 'Kalam', cursive;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.william{
  background-color: #000080;
}

.card{
  color: black;
  background-color: orange;
}
#modal1{
  color: black;
  background-color: orange;
}

.bacon{
  background-color: #e88e15
}

form{
  font-size:2vw
}

.submit-form{
  text-align: center;
}

body{
background-image: url("../wood-texture-1148528.jpg");

}

.toast{
  
}
